.titulo_principal {
    font-size: 50px;
    text-align:$justificacion-texto;  
}

.titulo2 {
    text-align:$justificacion-texto;
    margin: 30px 0px;
}

.titulo3 {
    text-align:$justificacion-texto;
}

h1 {
    color:$color-texto;
}

h2 {
    color:$color-texto;
}

h3 {
    color:$color-texto;
}

p {
    color:$color-texto;
}
