 /* Variables */
$color-principal: rgb(71, 71, 71);
$color-secundario: rgb(41, 41, 41);
$color-teceario: rgb(26, 26, 26);

$fuente-primaria:"Tilt Warp"; 
$color-texto:rgb(230, 230, 230);
$justificacion-texto:center;

$map-colores :(
  color-principal: rgb(71, 71, 71),
  color-secundario: rgb(41, 41, 41),
  color-teceario: rgb(17, 17, 17)
);     /* SOLO LO UTILIZE COMO EJEMPLO, POR Q LO PEDIA PARA EL TRABJO, YA SE QUE ES LO MISMO QUE LAS VARIABLES DE ARRIBA PERO NO SABIA QUE USO DARLE */



